{{ form_start(form, {attr: {class:'card p-3 w-75 mx-auto'}}) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg btn-block">{{ button_label | default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}
